<% if (btn=='products' ) { %>
    <form action="/productos" method="get">
        <button type="submit" class="btn btn-danger">Productos</button>
    </form>
<% } %>
<% if (btn=='home' ) { %>
    <form action="/" method="get">
        <button type="submit" class="btn btn-danger">Inicio</button>
    </form>
<% } %>