<div class="col-4 offset-4">
    <form action="/productos" method="post">
        <div class="mb-3">
            <label class="form-label"><i><b>Producto</b></i></label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label class="form-label"><i><b>Precio</b></i></label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3">
            <label class="form-label"><i><b>URL Imagen</b></i></label>
            <input type="text" class="form-control" id="thumbnail" name="thumbnail">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>